extends layout 
block content
        h2 information
        
        p  #{product.name}
            
        p  Product price: #{product.price || 'No information'} 
        p  Product size: #{product.size || 'No information'}

