extends layout 
block content
        h2 information
        
        p  #{product.name}
            
            if product.infos.length
                ol 
                    each info in product.infos
                        li #{product.name}
            else 
                p no information
                    

