extends layout 
block content
        h1 Welcome Product Page 
        p number of products on sale #{products.length}

        ol 
            each product in products
                li  
                    a(href=`/products/${product.id}`) #{product.name} price #{product.price}
